<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="./css/style2.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <div class="errorpage">
        <img src="./images/errorpage.jpg" alt="error page">
        <h1>page not found <a href="/">Go to Home</a>.</h1>
    </div>
    
</body>
</html>