<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLinks}}
   <link rel="stylesheet" href="./css/style2.css">
    <title>Document</title>
</head>
<body class="about-body">
    {{>header}}
    {{!-- about section starts here --}}
    <div class="topmost-about-div">
        <div class="about-div1">
            <div class="about-div-img">
                <img src="./images/face.png" alt="photo">
            </div>
            <div class="about-div-text">
                <h1>Satyam Sandilya</h1>
                <p>Hi, i'm a student of <span>B.Hons(eng)</span>. The reason I started this website was to share the 
                    simplicity with which i'm able to grasp my concepts.
                </p>
            </div>
        </div>
    </div>
    {{!-- about section starts here --}}


    <footer>
    <p>All Copyrights Reserved. Made with love by &copy;Pankaj Gupta</p>
    </footer>
</body>
</html>