<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- header links --}}
    {{>headerLinks}}
    <link rel="stylesheet" href="./css/style.css">

    <title>Project 1</title>
</head>
<body class="main-body">
    {{!-- header section --}}
    <div class="main-header-div" style="z-index: 1;"></div>
    {{>header}}
    <div class="welcome-text">
        <p>S.Sandilya</p>
    </div>
    </div>
    {{!-- header section ends --}}

<div class="card-section">
    <div class="card">
        <h1><i class="fa-solid fa-quote-left"></i>  If you can't explain it to a 6 year old,
            yo haven't understood yourself. <i class="fa-solid fa-quote-right"></i></h1>
    </div>
    <div class="card">
        <h1><i class="fa-solid fa-quote-left"></i>  If you can't explain it to a 6 year old,
            yo haven't understood yourself. <i class="fa-solid fa-quote-right"></i></h1>
    </div>
</div>

<hr style="width: 70%; align-self: center; opacity: 0.4; margin: 25px 0;">

<div class="quest-div">
    <p>Why choose us?.</p>
</div>

<hr style="width: 70%; align-self: center; opacity: 0.4; margin: 25px 0;">


<section class="section1">
    <div class="main-section-div">
        <div class="main-section-div1">
            <h1>Short and crisp lessons</h1>
            <p>The lessons I provide are based on the complete unit, as well as they are not tedious,
                in order to make them memorizable I make a plan of lessons which inturn makes it easy
                to remember what is connected to what.
            </p>
            <p class="write-emoji" >...✍️</p>
        </div>
            <img src="./images/step1.svg" class="main-section-div2">
        
    </div>
</section>

<hr style="width: 70%; align-self: center; opacity: 0.4; margin: 25px 0;">

<section class="section2">
    <div class="main-section-div">
        <img src="./images/step2.svg" class="main-section-div2">
        <div class="main-section-div1">
            <h1>Flowchart of entire unit.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laborum eius velit modi 
            aspernatur explicabo iste nostrum, voluptatibus cumque ipsum sunt, id omnis. In delectus veniam, 
            dolorem officia eos optio.
            </p>
            <p class="write-emoji" >...✍️</p>
        </div>
    </div>
</section>

<hr style="width: 70%; align-self: center; opacity: 0.4;margin: 25px 0;">


<section class="section3">
    <div class="main-section-div">
        <div class="main-section-div1">
            <h1>Revise anytime, anywhere</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laborum eius velit modi 
            aspernatur explicabo iste nostrum, voluptatibus cumque ipsum sunt, id omnis. In delectus veniam, 
            dolorem officia eos optio.
            </p>
            <p class="write-emoji" ><span>...✍️</span></p>
        </div>
        <img src="./images/step3.svg" class="main-section-div2">
    </div>
</section>

<hr style="width: 70%; align-self: center; opacity: 0.4;">




{{!-- footer --}}
    {{>footer}}
{{!-- footer ends --}}

</body>
</html>