<div class="container" >


        {{!-- one div --}}
        <div class="card-container" id="history">
            <img src="./images/turtle.jpg" class="card-container-image">
            <div>
            <h3>Topic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, cumque!</p>
            <a href="/redirect?url=https://www.youtube.com"><i class="ic2 fa-solid fa-circle-play"></i></a>
            <a href="./images/turtle.jpg" download><i class="ic fa-sharp fa-solid fa-circle-down"></i></a>
            </div>
        </div>
        {{!-- one div --}}

        <div class="card-container" id="history">
            <img src="./images/turtle.jpg" class="card-container-image">
            <div>
            <h3>Topic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, cumque!</p>
            <a href="/redirect?url=https://www.youtube.com"><i class="ic2 fa-solid fa-circle-play"></i></a>
            <a href="./images/turtle.jpg" download><i class="ic fa-sharp fa-solid fa-circle-down"></i></a>
            </div>
        </div>
        <div class="card-container" id="upsc">
            <img src="./images/turtle.jpg" class="card-container-image">
            <div>
            <h3>Topic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, cumque!</p>
            <a href="/redirect?url=https://www.youtube.com"><i class="ic2 fa-solid fa-circle-play"></i></a>
            <a href="./images/turtle.jpg" download><i class="ic fa-sharp fa-solid fa-circle-down"></i></a>
            </div>
        </div>
        <div class="card-container" id="linguistics">
            <img src="./images/turtle.jpg" class="card-container-image">
            <div>
            <h3>Topic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, cumque!</p>
            <a href="/redirect?url=https://www.youtube.com"><i class="ic2 fa-solid fa-circle-play"></i></a>
            <a href="./images/turtle.jpg" download><i class="ic fa-sharp fa-solid fa-circle-down"></i></a>
            </div>
        </div>
        <div class="card-container" id="upsc">
            <img src="./images/turtle.jpg" class="card-container-image">
            <div>
            <h3>Topic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, cumque!</p>
            <a href="/redirect?url=https://www.youtube.com"><i class="ic2 fa-solid fa-circle-play"></i></a>
            <a href="./images/turtle.jpg" download><i class="ic fa-sharp fa-solid fa-circle-down"></i></a>
            </div>
        </div>
        <div class="card-container" id="literature">
            <img src="./images/turtle.jpg" class="card-container-image">
            <div>
            <h3>Topic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, cumque!</p>
            <a href="/redirect?url=https://www.youtube.com"><i class="ic2 fa-solid fa-circle-play"></i></a>
            <a href="./images/turtle.jpg" download><i class="ic fa-sharp fa-solid fa-circle-down"></i></a>
            </div>
        </div>
        <div class="card-container" id="linguistics">
            <img src="./images/turtle.jpg" class="card-container-image">
            <div>
            <h3>Topic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, cumque!</p>
            <a href="/redirect?url=https://www.youtube.com"><i class="ic2 fa-solid fa-circle-play"></i></a>
            <a href="./images/turtle.jpg" download><i class="ic fa-sharp fa-solid fa-circle-down"></i></a>
            </div>
        </div>

        



</div>