
<div class="main-first-footer">
    <div class="first-footer">
        <div class="footer-list1">
            <h3>Lessons</h3>
            <ul>
                <li>Linguistics</li>
                <li>Modern History</li>
                <li>Medival History</li>
                <li>Civics</li>
                <li>Geography</li>
                <li>Economics</li>
            </ul>
        </div>
        <div class="footer-list2">
            <h3>Courses</h3>
            <ul>
                <li>UPSC</li>
                <li>BPSC</li>
                <li>Civil Services</li>
                <li>Hons.(English)</li>
                <li>Language History</li>
            </ul>
        </div>
        <div class="footer-list3" id="contact">
            <h3>Contact</h3>
            <ul>
                <li>ph:-XXX9494XXX</li>
                <li>gmail: satyam@sandilya.com</li>
                <li>IG: @s_s_lectures</li>
            </ul>
        </div>
        <div class="footer-list4">
            <p>This website is under development. if you face any kinds of issues with notes and vedios
                please contact the owner. It may take time. but if owner is not watching "REDO OF HEALER"
                you will be all set.
            </p>
        </div>
    </div>
</div>

<footer>
    <p>All Copyrights Reserved. Made with love by &copy;Pankaj Gupta</p>
</footer>