
    <header >
        <div class="div1"><i class="fa-solid fa-house"></i> <a href="/"><p>Home</p></a></div>
        <div class="div2">
            <ul>
                <li> <a href="/content">Content</a></li>
                <li> <a href="/about">About</a></li>
                <li> <a href="#contact">Contact</a></li>

            </ul>
        </div>
        <div class="div3">Join
        </div>
    </header>

    
