@font-face {
    font-family: myFont;
    src: url(../font/cursive.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body.content-body{
    background-image: url(../images/floral.jpg);
    background-attachment: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    opacity: 0.7;
    border-radius: 5px;
}

header div{
    margin-top: 10px;
    max-height: auto;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.div1{
    padding: 13px;
    display: flex;
    color: #fff;
}

.div1 a{
    text-decoration: none;
    color: white;
}

.div1 p{
    margin-left: 10px;
}

.div1:hover{
    transform: scale(1.15);
}


ul{
    overflow: hidden;
    list-style-type: none;
}

.div2 ul li{
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: #fff;
}

li a:hover{
    background-color:rgb(21, 125, 65);
    opacity: 0.7;
    transform: scale(1.2);
    border-radius: 10px;
}

.div3{
    padding: 13px 30px;
    background-color: darkgray;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 7px;
    margin-right: 7px;
}

.div3:hover{
    background-color: aqua;
    opacity: 0.5;
}


/* styling the search */
.wrapper{
    width:95%;
    margin: 0 auto;
}

#search-container{
    margin: 1em 0;
}

#search-container input{
    background-color: ghostwhite;
    opacity: 0.8;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus{
    border-bottom-color: #6759ff;
}

#search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #fff;
    border-radius: 5px;
    margin-top: 0.5em;
}

#search:active{
    background-color: ghostwhite;
    color: black;
}

.button-value{
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: ghostwhite;
    color: #6759ff;
    cursor: pointer;
}

.button-value:active{
    background-color: #6759ff;
    color: #fff;
}




/* styling the card */
.container{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start;
    margin-bottom: 100px;
}



.card-container{
    position: relative;
    max-width: 22%;
    height: 250px;
    margin: 20px;
    box-shadow: 4px 4px 5px rgba(13, 13, 13, 0.913);
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(222, 221, 251, 0.913); 
}



.card-container img{
    height: 40%;
    background: rgb(82, 153, 82);
}

.card-container h3{
    padding-top: 7px;
    padding-left: 30px;
    text-align: left;
    opacity: 0.8;
}

.card-container p{
    padding: 20px;
    text-align: center;
    opacity: 0.8;
}

.card-container .ic{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: rgb(224, 85, 108);
    font-size: 24px;
}

.card-container .ic2{
    position: absolute;
    bottom: 15px;
    right: 50px;
    color: rgb(224, 85, 108);
    font-size: 24px;
}


.card-container i:hover{
    color: rgb(245, 2, 42);
}

.card-container:hover{
    transform: scale(1.07);
}
/* card styling ends */


/* errorpage styling */
.errorpage img{
    margin-top: 70px;
    margin-left: 370px;
    width: 50%;
    height: 400px;
}
.errorpage h1{
    padding: 50px;
    text-align: center;
}
/* errorpage styling ends */


/* styling the about */
body.about-body{
    background-image: url(../images/rep.jpg);
}

div.topmost-about-div{
    margin: 10px 25px;
}

div.about-div1{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-div1 div{
    width: 50%;
}

.about-div-img img{
    padding-left: 150px;
    opacity: 0.7;
}

.about-div-text h1{
    padding:30px;
    font-size: 65px;
    font-family: "Cute Font" serif;
    letter-spacing: 1.2px;
    color: rgb(57, 57, 200);
}

.about-div-text h1:hover{
    text-shadow: 2px 2px 4px grey;
    transform: scale(1.02);
    cursor: pointer;
}

.about-div-text p{
    padding-left: 30px;
    padding-right: 50px;
    font-family: "Cute Font", cursive;
    font-size: 25px;
}

.about-div-text p span{
    color: rgb(179, 49, 168);
}
/* about page styling */




/* about page styling ends */


/* first footer styling */
.main-first-footer{
    background: pink;
    /* padding: 25px; */
}

div.first-footer{
    margin: 60px;
    display: flex;
    justify-content: space-around;
}

div.first-footer div{
    max-width: 25%;
}
/* first footer styling ends */


/* footer styling */
body.content-body{
    position: relative;
}
footer p{
    background: rgb(205, 64, 87);
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
/* footer styling ends */