
@font-face {
    font-family: myFont;
    src: url(../font/cursive.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body.main-body{
    background-image: url("../images/literature.jpeg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* styling the header section */
header{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

header div{
    margin-top: 10px;
    max-height: auto;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.div1{
    padding: 13px;
    display: flex;
    color: #fff;
}

.div1 a{
    text-decoration: none;
    color: white;
}

.div1 p{
    margin-left: 10px;
}

.div1:hover{
    transform: scale(1.15);
}


ul{
    overflow: hidden;
    list-style-type: none;
}

.div2 ul li{
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: #fff;
}

li a:hover{
    background-color:rgb(201, 154, 162);
    opacity: 0.7;
    transform: scale(1.2);
    border-radius: 10px;
}

.div3{
    padding: 13px 30px;
    background-color: darkgray;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 7px;
    margin-right: 7px;
}

.div3:hover{
    background-color: aqua;
    opacity: 0.5;
}

.welcome-text{
    margin: 50px;
}

.welcome-text p{
    font-family: myFont;
    font-size: 220px;
    color: #bd1c1c;
    padding-top: 140px;
    text-align: center;
    transform: rotate(-7deg);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.welcome-text p:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* styling the header section ends */


/* card styling */

div.card-section{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}

div.card{
    width: 45%;
    height: auto;
    background-color: ghostwhite;
    color: pink;
    padding: 80px;
    align-self: center;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.26), 5px 5px 8px rgb(192, 89, 106);
    text-align: center;
    display: flex;
    border-radius: 10px;
}

div.card:hover{
    transform: scale(1.05);
    background-color: rgba(176, 78, 78, 0.26);
}

div.card i{
    color: grey;
}

div.card h1{
    color: black;
    font-family: "Cute Font",-apple-system;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}
/* card styling */


/* styling the quest div */
.quest-div{
    margin: 20px auto;
    text-align: center;
    font-family: "Poiret One", cursive;
    font-weight: bold;
    line-height: 1.5;
    font-size: 55px;
    text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
    letter-spacing: 1px;
    text-transform: uppercase;  
    color: rgb(223, 141, 155);
}
/* styling the quest div ends */




/* styling the text of different sections */
.section1{
    margin-top: 50px;
}

.section2{
    margin-top:50px;
}

.section3{
    margin-top: 50px;
}



.main-section-div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}



.main-section-div1{
    padding-top:120px;
}


.main-section-div1 p{
    font-family: "Cute Font", cursive;
    font-size: 22px;
    font-weight: 400;
    text-align: justify;
}

.main-section-div1 h1{
    margin-top: 25px;
    line-height: 1.4;
    font-family: "Cute Font", system-ui;
    text-transform: uppercase;
    font-size: 52px;
    color: rgba(237, 114, 134, 0.913);
    /* padding-top: 20px; */
    text-align:left;
}

.main-section-div1 h1:hover{
    /* animation: big 0.2s ease; */
    transform: scale(1.02);
    text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
}

p.write-emoji{
    padding-left: 90%; 
    right: 0; 
    bottom: 0;
}

p.write-emoji span:hover{
    transform: scale(1.5);
}


/* styling the text of different sections ends */


/* maintaining the image alignment */
.main-section-div2{
    width: 50%;
}

/* maintaining the image alignment ends */



/* first footer styling */
.main-first-footer{
    background: pink;

}

div.first-footer{
    margin: 60px;
    display: flex;
    justify-content: space-around;
}

div.first-footer div{
    max-width: 25%;
}
/* first footer styling ends */


/* footer styling */

footer p{
    background: rgb(205, 64, 87);
    padding: 30px;
    text-align: center;
}
/* footer styling ends */

/* content body */

/* content body ends*/

